*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
.red-colour{
    color: rgb(230, 10, 10);
}
.flexible-container{
    display: flex;
    padding: 50px;
    
    }

.half-width{
    width: 50%;
    padding: 60px 100px;
}
.half-width img{
    width: 80%;
    
}
.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(red, rgb(201, 122, 57));
    padding: 10px;
    color: white;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 20px 20px 25px gray;
    width: 55%;
    margin-left: 20px;
    margin-right: 25px;
    padding-left: 40px;
    padding-bottom: 35px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-web-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#full-stack-border{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(196, 62, 9), rgb(231, 221, 217));
    border-image-slice: 1;

}
footer p{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
}