*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
span{
    color: rgb(230, 10, 10);
}
section{
    display: flex;
    

}
.half-width{
    width: 50%;
    padding: 60px 100px;
}
.half-width img{
    width: 90%;
    
}
.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(red, rgb(201, 122, 57));
    padding: 10px;
    color: white;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}